*{
    box-sizing: border-box;
}
body{
    background-image: url('../img/DSC05107.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 250px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.countdown{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 600px){
    h1{
        font-size: 40px;
        margin-top: 50px;
    }
    .countdown{
        font-size: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    .time{
        font-size: 50px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        margin: 10px 0;
    }
}
